<div>
  <div class="container" style="margin-top: 20px;">
    <section>
      <header>
        <div class="row">
          <div class="col">
            <h1 class=" terminal-prompt"> Senha segura </h1>
          </div>
          <div class="col">
            <div class="switch">
              <div class="react-toggle">
                <div class="react-toggle-track">
                  <div class="react-toggle-track-check">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="input-container">
        <input id="input" class="light" name="password" type="text" readonly="" value="-<A@Kvlh8qOG5YtoG-Th">
      </div>
      <div class="clipboard">
        <div class="tooltip">
          <span class="tooltiptext" id="myTooltip">Copiar</span>
          <img src="./assets/images/copy.png">
        </div>
      </div>
    </section>
    <br />
    <section>
      <header>
        <div style="text-align: center;">
          <h2> Customize a senha </h2>
        </div>
      </header>
      <fieldset>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="checkbox-container">
                Uppercase
                <input type="checkbox" name="upperCase" checked="">
                <span class="checkmark">  </span>
              </label>
              <label class="checkbox-container">
                Lowercase
                <input type="checkbox" name="lowerCase" checked="">
                <span class="checkmark"></span>
              </label>
              <label class="checkbox-container">
                Numeros
                <input type="checkbox" name="numeric" checked="">
                <span class="checkmark"></span>
              </label>
              <label class="checkbox-container">
                Simbolos
                <input type="checkbox" name="symbol" checked="">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <div class="row">
                <div style="text-align: center;">
                  <div class="col">
                    <label for="email">Quantidade de caracteres:</label>
                  </div>
                </div>
              </div>
              <div style="text-align: center;">
                <div class="row">
                  <div class="col">
                    <input type="number" min="8" max="40" style="width: 65px;" value="20">
                  </div>
                </div>
              </div>
              <div class="slider-container">
                <input class="slider" type="range" min="8" max="40" value="20">
              </div>
            </div>
          </div>
        </div>
      </fieldset>
      <br />
      <div style="text-align: center;">
        <div class="row">
          <div class="col">
            <button class="btn   btn-primary" (click)="generatePassword()">
              Gerar
            </button>
          </div>
        </div>
        <br />
        <br />
      </div>
    </section>
    <div style="text-align: center;">
      <a href="#">Lenon Corrêa</a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
