<div>
  <div class="container" style="margin-top: 20px;">
  <br />
    <section>
      <header>
        <div class="row">
          <div class="col">
            <h1 class=" terminal-prompt"> Senha segura </h1>
          </div>
          <div class="col">
          </div>
        </div>
      </header>
      <br />
      <div class="input-container">
        <input id="input" class="light" name="password" type="text" readonly value="{{ this.password }}">
        <div class="clipboard">
          <div class="tooltip">
            <span class="tooltiptext" id="myTooltip"></span>
            <img src="../assets/images/copy.png" alt="copy" height="25" (mouseout)="onMouseOut()" (click)="copyPassword(this.password)">
          </div>
        </div>
      </div>
    </section>
    <br />
    <hr>
    <br />
    <br />
    <section>
      <header>
        <div style="text-align: center;">
          <h2> Customize a senha </h2>
        </div>
      </header>
      <br />
      <br />
      <fieldset>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="checkbox-container">
                Uppercase
                <input #upperCase type="checkbox" name="upperCase" checked="" (change)="alterUppercase(upperCase.checked)">
                <span class="checkmark">  </span>
              </label>
              <label class="checkbox-container">
                Lowercase
                <input #lowerCase type="checkbox" name="lowerCase" checked="" (change)="alterLowerCase(lowerCase.checked)">
                <span class="checkmark"></span>
              </label>
              <label class="checkbox-container">
                Numeros
                <input #numeric type="checkbox" name="numeric" checked="" (change)="alternumeric(numeric.checked)">
                <span class="checkmark"></span>
              </label>
              <label class="checkbox-container">
                Simbolos
                <input #symbol type="checkbox" name="symbol" checked="" (change)="altersymbol(symbol.checked)">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <div class="row">
                <div style="text-align: center;">
                  <div class="col">
                    <label for="email">Quantidade de caracteres:</label>
                  </div>
                </div>
              </div>
              <br />
              <div style="text-align: center;">
                <div class="row">
                  <div class="col">
                    <input type="number" min="10" max="40" style="width: 65px;" value="{{ length }}" [(ngModel)]="length" (ngModelChange)="alterLength(length)">
                  </div>
                </div>
              </div>
              <br />
              <div class="slider-container">
                <input #slider class="slider" type="range" min="10" max="40" [(ngModel)]="length" (ngModelChange)="alterLength(length)">
              </div>
            </div>
          </div>
        </div>
      </fieldset>
      <br />
      <br />
      <div style="text-align: center;">
        <div class="row">
          <div class="col">
            <button class="btn   btn-primary" (click)="generatePassword()">
              Gerar
            </button>
          </div>
        </div>
        <br />
        <br />
      </div>
    </section>
    <div style="text-align: center;">
      <a href="#">Lenon Corrêa</a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
